*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.targeta{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 364px;
  height: 162px;
  background-color: white;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
  box-shadow: 2px 2px 2px #888888;
  margin-top: 20px;
}

.header{
  background-color: #eb5757;
  width: 324px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 20px;
}

.desc{
  color: black;
  margin: 20px;
}

.barra{
  display: flex;
  justify-content: space-between;
  color:#888888 ;
  margin: 10px 20 20;
}
.logo{
  position: absolute;
  top: 15px;
  left: 315px;
}
.circ{
  position: absolute;
  top: 15px;
  left: 20px;
}
.num{
  position: absolute;
  top: 20px;
  left: 30px;
  color: white;
}

